:root {
  --text-primary: #333;
  --text-secondary: #eee;

  --surface-0: #eee;
  --surface-0--hover: #ffffff;
  --surface-0--active: #d9d9d9;
  --surface-1: #333;

  --accent-0: #85dcb8;
  --accent-1: #52cd69;
  --accent-2: #58d472;
  --accent-4: #34c752;

  --font-family: "PT Sans", sans-serif;
}
